<p>new-requests works!</p>

<div class="leave-applications-main-container">
  <h1 class="leave-applications-main-heading">Leaves to be Verified.</h1>
  <div *ngIf="leaveApplications.length > 0">
    <table>
      <tr>
        <th>Employee ID</th>
        <th>Employee Name</th>
        <th>Reason</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Actions</th>
      </tr>
      <tbody *ngFor="let leaveApplication of leaveApplications">
        <tr>
          <td>{{ leaveApplication.employeeId }}</td>
          <td>{{ leaveApplication.employeeName }}</td>
          <td>{{ leaveApplication.reason }}</td>
          <td>{{ leaveApplication.startDate | date }}</td>
          <td>{{ leaveApplication.endDate | date }}</td>
          <td>
            <button
              class="accept-btn"
              (click)="acceptLeave(leaveApplication.id)"
            >
              Accept
            </button>
            <button
              class="reject-btn"
              (click)="openRejectModal(leaveApplication)"
            >
              Reject
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="rejectModal" class="modal-overlay" (click)="closeRejectModal()">
  <div class="modal-container" (click)="$event.stopPropagation()">
    <form
      class="modal-form-container"
      (submit)="rejectLeave($event, selectedLeave.id)"
    >
      <label>Comments : </label>
      <input
        type="text"
        placeholder="Enter any comments"
        (input)="onChangeComment($event)"
        [value]="comment"
      />
      <div class="modal-actions">
        <button class="btn btn-secondary" (click)="closeRejectModal()">
          Cancel
        </button>
        <button class="btn btn-danger" type="submit">Reject</button>
      </div>
    </form>
  </div>
</div>
