<div class="employee-home-main-container">
  <h1 class="employee-home-main-heading">Your leaves this year</h1>

  <h1 class="leaves-remain-text">
    Leaves Remain :
    <span
      [ngClass]="
        leavesRemaining === 1
          ? 'waring'
          : leavesRemaining === 0
          ? 'completed'
          : ''
      "
      >{{ leavesRemaining !== 0 ? leavesRemaining : "Completed" }}</span
    >
  </h1>

  <table *ngIf="myLeavesList.length > 0">
    <tr>
      <th>Sno</th>
      <th>Reason</th>
      <th>Type</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
    <tbody>
      <tr *ngFor="let item of myLeavesList; let ind = index">
        <td>{{ ind + 1 }}</td>
        <td>{{ item.reason }}</td>
        <td>{{ item.leaveType }}</td>
        <td>{{ item.startDate | date }}</td>
        <td>{{ item.endDate | date }}</td>
        <td
          [ngClass]="
            item.status === 'APPROVED'
              ? 'approved-text'
              : item.status === 'REJECTED'
              ? 'rejected-text'
              : 'pending-text'
          "
        >
          {{ item.status }}
        </td>
        <td class="actions-container">
          <i
            class="bi bi-pencil-square edit-icon"
            (click)="openEditModal(item)"
          ></i>
          <i
            class="bi bi-trash3-fill delete-icon"
            (click)="openDeleteModal(item.id)"
          ></i>
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="myLeavesList.length === 0" class="empty-view">
    <h1>Empty</h1>
  </div>

  <!-- Edit Modal View -->
  <div
    *ngIf="selectedLeave"
    class="modal-overlay"
    (click)="closeEditModal($event)"
  >
    <div class="modal-container" (click)="$event.stopPropagation()">
      <h2>Edit Leave</h2>
      <form class="modal-form-container">
        <label>Reason:</label>
        <input
          type="text"
          name="reason"
          [value]="selectedLeave.reason"
          (input)="onChangeSeletedLeaveData($event, 'reason')"
          required
        />

        <label>Type:</label>
        <input
          type="text"
          name="leaveType"
          [value]="selectedLeave.leaveType"
          (input)="onChangeSeletedLeaveData($event, 'leaveType')"
          required
        />

        <label>Start Date:</label>
        <input
          type="date"
          name="startDate"
          [value]="selectedLeave.startDate"
          (input)="onChangeSeletedLeaveData($event, 'startDate')"
          required
        />

        <label>End Date:</label>
        <input
          type="date"
          name="endDate"
          [value]="selectedLeave.endDate"
          (input)="onChangeSeletedLeaveData($event, 'endDate')"
          required
        />

        <div class="modal-actions">
          <button class="btn btn-secondary" (click)="closeEditModal()">
            Cancel
          </button>
          <button class="btn btn-primary" (click)="saveChanges()">Save</button>
        </div>
      </form>
    </div>
  </div>

  <div *ngIf="deleteModal" class="modal-overlay" (click)="closeDeleteModal()">
    <div class="modal-container" (click)="$event.stopPropagation()">
      <h4 class="delete-modal-heading">Do u want to Delete.?</h4>
      <div class="delete-modal-buttons-container">
        <button class="btn btn-secondary" (click)="closeDeleteModal()">
          Cancel
        </button>
        <button class="btn btn-danger" (click)="deleteLeave()">Delete</button>
      </div>
    </div>
  </div>
</div>
