.input-row-container {
    display: flex;
    flex-direction: row;
}

tr{
    border: 1px solid black;
    margin: 30px;
}


#generate-layout {
   margin-right: auto;
}


.box {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    width: 30px;
    height: 30px;
    
}


#output-container {
    display: flex;
    flex-direction: row;
    margin: 10px;
    column-gap: 10px;
}


.block1-container {
    display: flex;
    flex-direction: column;;
    width: 50%;;
}

.block2-container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.sub-block-container1 {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 10px;
    border-top-left-radius: 100%;
}

.sub-block-container2 {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 10px;
    border-top-right-radius: 100%;
}




