.input-row-container {
    display: flex;
    flex-direction: row;
}

tr{
    border: 1px solid black;
    margin: 30px;
}


#generate-layout {
   margin-right: auto;
}


/* .box {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    width: 30px;
    height: 30px;
    
} */


#output-container {
    display: flex;
    flex-direction: row;
    margin: 10px;
    column-gap: 10px;
}


.block1-container {
    display: flex;
    flex-direction: column;;
    width: 50%;;
}

.block2-container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.sub-block-container1 {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 10px;
    height: 500px;
    width: 500px;
    border-top-left-radius: 100%;
    border : 1px solid black;
}

.sub-block-container2 {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 10px;
    height: 500px;
    width: 500px;
    border-top-right-radius: 100%;
    border : 1px solid black;
}


/* 
.sub-block-container1, .sub-block-container2 {
  position: relative;
  width: 600px;
  height: 300px;
}

.box {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  transform: translate(-50%, -50%);
} */

.box {
            width: 40px;
            height: 40px;
            position: absolute;
            background-color: #3498db;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            font-size: 14px;
            border-radius: 5px;
        }



.small-box:nth-child(1) { top: 10%; left: 50%; transform: translateX(-50%) translateY(-50%); }
.small-box:nth-child(2) { top: 25%; left: 85%; transform: translateX(-50%) translateY(-50%); }
        .small-box:nth-child(3) { top: 50%; left: 90%; transform: translateX(-50%) translateY(-50%); }
        .small-box:nth-child(4) { top: 75%; left: 85%; transform: translateX(-50%) translateY(-50%); }
        .small-box:nth-child(5) { top: 90%; left: 50%; transform: translateX(-50%) translateY(-50%); }
        .small-box:nth-child(6) { top: 75%; left: 15%; transform: translateX(-50%) translateY(-50%); }
        .small-box:nth-child(7) { top: 50%; left: 10%; transform: translateX(-50%) translateY(-50%); }
        .small-box:nth-child(8) { top: 25%; left: 15%; transform: translateX(-50%) translateY(-50%); }
        .small-box:nth-child(9) { top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%); }
        .small-box:nth-child(10) { top: 10%; left: 15%; transform: translateX(-50%) translateY(-50%); }